@font-face {
  font-family: 'Lexend';
  src: url('../fonts/LexendDeca-VariableFont_wght.ttf');
  font-style: normal;
}

:root {
  /* MAIN COLORS */
  --color-primary: #FF3333;
  --color-primary-light: #FF6666;
  --color-success: #28A745;
  --color-error: #DC3545;
  --color-info: #17A2B8;
  --color-warning: #FFC107;

  /* COLORS ALTERNATIVES */
  --color-alt-primary: #FF333335;
  --color-alt-primary-light: #FF666635;
  --color-alt-success: #28A74535;
  --color-alt-error: #DC354535;
  --color-alt-info: #17A2B835;
  --color-alt-warning: #FFC10735;  

  /* BACKGROUND COLORS */

  /* TEXT */

  /* BORDERS */
  --border-color: #E0E0E0;

  /* LINKS */
  --link-color: var(--color-primary);
  --link-hover: var(--color-primary-light);
}

.light {
  --bg-main: #FFFFFF;
  --bg-card: #F8F8F8;
  --bg-muted: #F2F2F2;

  --text-main: #1A1A1A;
  --text-secondary: #555555;

  background-color: var(--bg-muted);
}

.dark {
  --bg-main: #1A1A1A;
  --bg-card: #555555;
  --bg-muted: #B4B4B4;

  --text-main: #FFFFFF;
  --text-secondary: #F8F8F8;

  background-color: var(--text-main);
}

* {
  font-family: 'Lexend', sans-serif, 'Trebuchet MS';
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  color: currentColor;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a, button {
  cursor: pointer;
}

svg {
  width: 1.5em;
}

body {
  font-size: 13px;
  height: 100vh;
  width: 100%;
}

body header > *,
body header ~ * {
  width: 100%;
  padding: 0 4em;
}

body header {
  background-color: var(--bg-card);
}

body header .header-main {
  height: 5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
}

body header .header-main .logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--color-primary);
  font-weight: bold;
}

body header .header-main .logo img {
  height: 3.05em;
  width: 3.05em;
  border-radius: 50%;
}

body header .header-main form.searchBox {
  height: 3.05em;
  width: 22em;
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid var(--color-alt-primary-light);
}

body header .header-main form.searchBox input {
  height: 3.05em;
  width: 100%;
  border: none;
  text-indent: 1em;
}

body header .header-main form.searchBox input ~ button {
  height: 3.05em;
  background-color: var(--color-primary);
  color: var(--bg-main);
  font-weight: 500;
  border: none;
  position: absolute;
  top: -1px;
  right: -1px;
  display: flex;
  align-items: center;
  gap: .3em;
  padding: .3em .5em;
}

body header .header-main form.searchBox input ~ button:hover {
  background-color: var(--color-primary-light);
}

body header .header-main nav .links-text {
  display: flex;
  align-items: center;
  gap: .8em;
  height: 4em;
}

body header .header-main nav .links-text a {
  font-weight: bold;
  border-radius: 1em;
  padding: 0.4em
}

body header .header-main nav .links-text a:hover {
  background-color: var(--color-alt-primary-light);
}

body header .header-main button:has(svg) {
  display: flex;
  align-items: center;
  gap: .3em;
  padding: 0.4em 0.8em;
  border-radius: 1em;
  height: 2.7em;
  background-color: var(--bg-card);
  border: none;
  color: var(--text-main);
  border: 1px solid var(--color-alt-primary-light);
}

body header .header-main div > button:hover {
  opacity: .8;
}

body header .header-main .user-language,
body header .header-main .theme-color {
  height: 2.8em;
  z-index: 2;
  overflow: hidden;
}

body header .header-main .user-language:hover,
body header .header-main .theme-color:hover {
  overflow: visible;
}

body header .header-main .user-language .current-language-value,
body header .header-main .theme-color .current-theme {
  height: 2.7em;
  width: 100%;
}

body header .header-main .user-language .languages-opts,
body header .header-main .theme-color .themes-opts {
  height: calc(2.7em * 2.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0;
  gap: .4em;
  width: 100%;
}

body header .header-main .user-language .languages-opts button,
body header .header-main .theme-color .themes-opts button {
  width: 100%;
  height: 2.7em;
  border: 1px solid var(--bg-main);
  background-color: transparent;
  color: var(--text-main);
  background-color: var(--bg-card);
  border-radius: 1em;
}

body header .header-main .user-language .languages-opts button:hover,
body header .header-main .theme-color .themes-opts button:hover {
  background-color: var(--color-primary-light);
}

body header .header-main .user-language:hover .languages-opts,
body header .header-main .theme-color:hover .themes-opts {
  z-index: 1;
  opacity: 1;
}

body header .header-features {
  background-color: var(--bg-main);
}

body header .header-features .header-features-items {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

body header .header-features .header-features-items button {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bg-main);
  padding: .5em 1em;
  border-radius: 1em;
  background-color: var(--bg-main);
  gap: 1em;
}

body header .header-features .header-features-items button:first-child,
body header .header-features .header-features-items button:hover {
  background-color: var(--color-primary-light);
}

body header .header-features .header-features-items button:hover {
  background-color: var(--color-alt-primary-light);
}

body header .header-features .header-features-details-items {
  height: 0em;
}